<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.mapper.UserMapper">

    <resultMap id="userMap" type="user">
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="nick_name" property="nickName"></result>
        <result column="user_type" property="userType"></result>
        <result column="roles" property="roles"></result>
        <result column="status" property="status"></result>
    </resultMap>
    <select id="findByUser" parameterType="map" resultMap="userMap">
        select * from tb_user where username = #{username} and password =#{password}
    </select>

</mapper>